@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 隐藏整个滚动条 */
.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}

/* Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
